.admin-navigation-links-admin-navigation-links {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.admin-navigation-links-navlink {
  color: var(--dl-color-main-theme-text);
  transition: 0.3s;
  text-decoration: none;
}
.admin-navigation-links-navlink:hover {
  transform: scale(1.05);
}
.admin-navigation-links-navlink1 {
  color: var(--dl-color-main-theme-text);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.admin-navigation-links-navlink1:hover {
  transform: scale(1.05);
}
.admin-navigation-links-navlink2 {
  color: var(--dl-color-main-theme-text);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.admin-navigation-links-navlink2:hover {
  transform: scale(1.05);
}
.admin-navigation-links-navlink3 {
  color: var(--dl-color-main-theme-text);
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.admin-navigation-links-navlink3:hover {
  transform: scale(1.05);
}
@media(max-width: 767px) {
  .admin-navigation-links-admin-navigation-links {
    align-items: flex-start;
    flex-direction: column;
  }
  .admin-navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .admin-navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .admin-navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .admin-navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.admin-header-admin-header {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-main-theme-background);
}
.admin-header-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.admin-header-navlink {
  display: contents;
}
.admin-header-text {
  color: var(--dl-color-main-theme-text);
  text-decoration: none;
}
.admin-header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.admin-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-header-button {
  color: var(--dl-color-main-theme-button);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-main-theme-text);
}
.admin-header-button:hover {
  transform: scale(1.05);
}






@media(max-width: 991px) {
  .admin-header-admin-header {
    flex-direction: column;
  }
  .admin-header-nav {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .admin-header-admin-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .admin-header-admin-header {
    padding: var(--dl-space-space-unit);
  }
}

.question-card-admin-question-card-admin {
  width: 90%;
  display: flex;
  position: relative;
  max-width: 800px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-question-card-admin:hover {
  transform: scale(1.02);
}
.question-card-admin-raiting {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-card-admin-button {
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-icon {
  width: 24px;
  height: 24px;
}
.question-card-admin-button1 {
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-icon2 {
  width: 24px;
  height: 24px;
}
.question-card-admin-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-between;
}
.question-card-admin-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.question-card-admin-text1 {
  color: var(--dl-color-main-theme-text);
  font-weight: 600;
  text-transform: uppercase;
}
.question-card-admin-text2 {
  color: var(--dl-color-main-theme-text);
  font-weight: 300;
}
.question-card-admin-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-danger-700);
}
.question-card-admin-button2:hover {
  transform: scale(1.05);
}
.question-card-admin-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .question-card-admin-question-card-admin {
    width: 90%;
    min-width: auto;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    justify-content: space-between;
  }
  .question-card-admin-container {
    width: 80%;
    max-width: 800px;
  }
}
@media(max-width: 767px) {
  .question-card-admin-question-card-admin {
    width: 90%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .question-card-admin-raiting {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .question-card-admin-container1 {
    flex-direction: column;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-main-theme-background);
}
.footer-text {
  color: var(--dl-color-main-theme-text);
}
.footer-text1 {
  color: var(--dl-color-main-theme-text);
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  fill: var(--dl-color-main-theme-text);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}

















@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.admin-questions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-questions-questions {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-questions-search {
  width: 50%;
  display: flex;
  max-width: 800px;
  min-width: 450px;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.admin-questions-textinput {
  width: 100%;
}
.admin-questions-button {
  display: flex;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.admin-questions-icon {
  width: 20px;
  height: 20px;
}
.admin-questions-button1 {
  margin-left: var(--dl-space-space-halfunit);
}
.admin-questions-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.admin-questions-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}
.admin-questions-button2 {
  display: flex;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  background-color: var(--dl-color-main-theme-text);
}
.admin-questions-icon2 {
  width: 24px;
  height: 24px;
}
.admin-questions-text {
  align-self: center;
}
.admin-questions-button3 {
  display: flex;
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-main-theme-text);
}
.admin-questions-text1 {
  align-self: center;
}
.admin-questions-icon4 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .admin-questions-search {
    width: 80%;
    min-width: 0px;
  }
}
@media(max-width: 479px) {
  .admin-questions-search {
    flex-direction: row;
  }
  .admin-questions-container1 {
    align-items: center;
    flex-direction: column;
  }
  .admin-questions-button2 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
