<div>
  <link href="admin-card.css" rel="stylesheet" />
  <div class="admin-card-admin-card">
    <div class="admin-card-container">
      <h1 class="admin-card-text"><span>Иван Иванов</span></h1>
      <span class="admin-card-text1"><span>Администратор</span></span>
    </div>
    <div class="admin-card-container1">
      <a href="../admin_change_role.html" class="admin-card-navlink button">
        <span>Изменить</span>
      </a>
      <button class="admin-card-button button"><span>Удалить</span></button>
    </div>
  </div>
</div>
