<div>
  <link href="admin-header.css" rel="stylesheet" />
  <header data-role="Header" class="admin-header-admin-header">
    <div class="admin-header-container">
      <a href="../index.html" class="admin-header-navlink">
        <h1 class="admin-header-text"><span>Student Helper</span></h1>
      </a>
      <div class="admin-header-nav">
        <nav class="admin-navigation-links-admin-navigation-links">
          <a href="../admin_questions.html" class="admin-navigation-links-navlink">
            <span>Вопросы</span>
          </a>
          <a
            href="../admin_assign_role.html"
            class="admin-navigation-links-navlink1"
          >
            <span>Назначить роль</span>
          </a>
          <a
            href="../admin_list_of_administrators.html"
            class="admin-navigation-links-navlink2"
          >
            <span>Список модераторов</span>
          </a>
          <a
            href="../admin_verifications.html"
            class="admin-navigation-links-navlink3"
          >
            <span>Заявки на верификацию</span>
          </a>
        </nav>
      </div>
    </div>
    <div class="admin-header-btn-group">
      <button class="admin-header-button button"><span>Выход</span></button>
    </div>
  </header>
</div>
