<div>
  <link href="answer-card.css" rel="stylesheet" />
  <div class="answer-card-answer-card">
    <div class="answer-card-user">
      <a href="../profile.html" class="answer-card-navlink">
        <span>Петр Петров</span>
      </a>
      <span class="answer-card-text01">
        <span>20:24</span>
        <span>24.04.2022</span>
        <span></span>
      </span>
      <span><span class="answer-card-text06">Верифицирован</span></span>
    </div>
    <div class="answer-card-answer">
      <div class="answer-card-raiting">
        <button class="answer-card-button button">
          <svg viewBox="0 0 1024 1024" class="answer-card-icon">
            <path
              d="M170 512l342-342 342 342-62 60-238-238v520h-84v-520l-240 238z"
            ></path>
          </svg>
        </button>
        <button class="answer-card-button1 button">
          <svg viewBox="0 0 1024 1024" class="answer-card-icon2">
            <path
              d="M854 512l-342 342-342-342 62-60 238 238v-520h84v520l240-238z"
            ></path>
          </svg>
        </button>
        <span><span>+100500</span></span>
      </div>
      <div class="answer-card-container">
        <span>
          <span>
            Чел ты... Это же изи! Учи мат. часть! Держи решение в прикрепленном
            файле! Какой-то текст. Какой-то текст. Какой-то текст. Какой-то
            текст. Какой-то текст. Какой-то текст. Какой-то текст. Какой-то
            текст.
          </span>
        </span>
        <div class="answer-card-files">
          <div class="answer-card-container1">
            <svg viewBox="0 0 1024 1024" class="answer-card-icon4">
              <path
                d="M554 384h236l-236-234v234zM256 86h342l256 256v512q0 34-26 59t-60 25h-512q-34 0-60-25t-26-59l2-684q0-34 25-59t59-25z"
              ></path>
            </svg>
            <a
              href="https://example.com"
              target="_blank"
              rel="noreferrer noopener"
              class="answer-card-link"
            >
              <span>file.jpg</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
