<div>
  <link href="question-card.css" rel="stylesheet" />
  <a href="../question.html">
    <div class="question-card-blog-post-card">
      <div class="question-card-raiting">
        <button class="question-card-button button">
          <svg viewBox="0 0 1024 1024" class="question-card-icon">
            <path
              d="M170 512l342-342 342 342-62 60-238-238v520h-84v-520l-240 238z"
            ></path>
          </svg>
        </button>
        <button class="question-card-button1 button">
          <svg viewBox="0 0 1024 1024" class="question-card-icon2">
            <path
              d="M854 512l-342 342-342-342 62-60 238 238v-520h84v520l240-238z"
            ></path>
          </svg>
        </button>
        <span><span>+100500</span></span>
      </div>
      <div class="question-card-container">
        <div class="question-card-container1">
          <span class="question-card-text1"><span>Мат. анализ</span></span>
          <span class="question-card-text2"><span>23.04.2022</span></span>
        </div>
        <h1 class="question-card-text3">
          <span>Помогите взять интеграл, пж</span>
        </h1>
      </div>
    </div>
  </a>
</div>
