<div>
  <link href="question-card-admin.css" rel="stylesheet" />
  <a href="../admin_question.html">
    <div class="question-card-admin-question-card-admin">
      <div class="question-card-admin-raiting">
        <button class="question-card-admin-button button">
          <svg viewBox="0 0 1024 1024" class="question-card-admin-icon">
            <path
              d="M170 512l342-342 342 342-62 60-238-238v520h-84v-520l-240 238z"
            ></path>
          </svg>
        </button>
        <button class="question-card-admin-button1 button">
          <svg viewBox="0 0 1024 1024" class="question-card-admin-icon2">
            <path
              d="M854 512l-342 342-342-342 62-60 238 238v-520h84v520l240-238z"
            ></path>
          </svg>
        </button>
        <span><span>+100500</span></span>
      </div>
      <div class="question-card-admin-container">
        <div class="question-card-admin-container1">
          <span class="question-card-admin-text1">
            <span>Мат. анализ</span>
          </span>
          <span class="question-card-admin-text2"><span>23.04.2022</span></span>
          <button class="question-card-admin-button2 button">
            <span>Удалить</span>
          </button>
        </div>
        <h1 class="question-card-admin-text3">
          <span>Помогите взять интеграл, пж</span>
        </h1>
      </div>
    </div>
  </a>
</div>
