<div>
  <link href="user-header.css" rel="stylesheet" />
  <header data-role="Header" class="user-header-header">
    <div class="user-header-container">
      <a href="../index.html" class="user-header-navlink">
        <h1 class="user-header-text"><span>Student Helper</span></h1>
      </a>
      <div class="user-header-nav">
        <nav
          class="user-navigation-links-nav user-navigation-links-root-class-name12"
        >
          <a href="../questions.html" class="user-navigation-links-navlink">
            <span>Вопросы</span>
          </a>
          <a href="../ask.html" class="user-navigation-links-navlink1">
            <span>Задать вопрос</span>
          </a>
          <a href="../profile.html" class="user-navigation-links-navlink2">
            <span>Профиль</span>
          </a>
          <a href="../liderboard.html" class="user-navigation-links-navlink3">
            <span>Таблица лидеров</span>
          </a>
        </nav>
      </div>
    </div>
    <div class="user-header-btn-group">
      <button class="user-header-button button"><span>Выход</span></button>
    </div>
  </header>
</div>
