<div>
  <link href="user-navigation-links.css" rel="stylesheet" />
  <nav class="user-navigation-links-nav">
    <a href="../questions.html" class="user-navigation-links-navlink">
      <span>Вопросы</span>
    </a>
    <a href="../ask.html" class="user-navigation-links-navlink1">
      <span>Задать вопрос</span>
    </a>
    <a href="../profile.html" class="user-navigation-links-navlink2">
      <span>Профиль</span>
    </a>
    <a href="../liderboard.html" class="user-navigation-links-navlink3">
      <span>Таблица лидеров</span>
    </a>
  </nav>
</div>
