<div>
  <link href="verification-card.css" rel="stylesheet" />
  <div class="verification-card-verification-card">
    <div class="verification-card-container">
      <h1 class="verification-card-text"><span>Иван Иванов</span></h1>
      <span class="verification-card-text1"><span>ID Заявки: 123</span></span>
    </div>
    <div class="verification-card-container1">
      <h1 class="verification-card-text2"><span>23.04.2022</span></h1>
      <a
        href="../admin_verivication.html"
        class="verification-card-navlink button"
      >
        <span class="verification-card-text3">
          <span>Рассмотреть заявку</span>
        </span>
      </a>
    </div>
  </div>
</div>
