.admin-verivication-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-verivication-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-xxlarge);
  margin: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.admin-verivication-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.admin-verivication-text01 {
  text-align: left;
}
.admin-verivication-files {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.admin-verivication-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.admin-verivication-icon {
  width: 24px;
  height: 24px;
}
.admin-verivication-button {
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.admin-verivication-button:hover {
  color: var(--dl-color-gray-white);
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px #85d899;
  border-width: 0px;
  background-color: var(--dl-color-success-700);
}
.admin-verivication-button1 {
  align-self: center;
  text-align: center;
  transition: 0.3s;
}
.admin-verivication-button1:hover {
  color: var(--dl-color-gray-white);
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px #ffe59e;
  border-width: 0px;
  background-color: var(--dl-color-danger-alt);
}
