.admin-questions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-questions-questions {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-questions-search {
  width: 50%;
  display: flex;
  max-width: 800px;
  min-width: 450px;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.admin-questions-textinput {
  width: 100%;
}
.admin-questions-button {
  display: flex;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
}
.admin-questions-icon {
  width: 20px;
  height: 20px;
}
.admin-questions-button1 {
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .admin-questions-search {
    width: 80%;
    min-width: 0px;
  }
}
@media(max-width: 479px) {
  .admin-questions-search {
    flex-direction: row;
  }
}
