.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 1400px;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-image {
  width: 25rem;
  object-fit: cover;
}
.profile-container1 {
  width: 100%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.profile-text {
  font-size: 3rem;
}
.profile-text01 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.profile-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.profile-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.profile-navlink:hover {
  transform: scale(1.02);
}
.profile-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.profile-navlink1:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .profile-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .profile-image {
    order: 2;
  }
  .profile-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .profile-text {
    text-align: center;
  }
  .profile-text01 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .profile-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .profile-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .profile-btn-group {
    flex-direction: column;
  }
  .profile-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
