.verification-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.verification-form {
  flex: initial;
  width: var(--dl-size-size-lform);
  margin: auto;
  position: relative;
  align-self: flex-start;
}
.verification-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-lform);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verification-textinput {
  width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-space-space-unit);
}
.verification-textinput1 {
  width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-space-space-unit);
}
.verification-textinput2 {
  width: 100%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-space-space-unit);
}
.verification-button {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  margin-left: auto;
  border-width: 0px;
  margin-right: auto;
  background-color: var(--dl-color-gray-black);
}
.verification-button:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px #85D899;;
  background-color: var(--dl-color-success-500);
}
