.index-header-header {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.index-header-container {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.index-header-navlink {
  display: contents;
}
.index-header-text {
  user-select: none;;
  text-decoration: none;
}
.index-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-header-navlink1 {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  text-decoration: none;
}
.index-header-navlink1:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 0px #85d899;
}
.index-header-burger-menu {
  display: none;
}
.index-header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.index-header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.index-header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.index-header-image {
  height: 2rem;
}
.index-header-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 991px) {
  .index-header-icon {
    display: flex;
  }
}
@media(max-width: 767px) {
  .index-header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-header-btn-group {
    display: none;
  }
  .index-header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-header-mobile-menu {
    display: none;
  }
}
@media(max-width: 479px) {
  .index-header-header {
    padding: var(--dl-space-space-unit);
  }
  .index-header-mobile-menu {
    padding: 16px;
  }
}
