.question-card-admin-question-card-admin {
  width: 90%;
  display: flex;
  position: relative;
  max-width: 800px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-question-card-admin:hover {
  transform: scale(1.02);
}
.question-card-admin-raiting {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-card-admin-button {
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-icon {
  width: 24px;
  height: 24px;
}
.question-card-admin-button1 {
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: var(--dl-color-main-theme-background2);
}
.question-card-admin-icon2 {
  width: 24px;
  height: 24px;
}
.question-card-admin-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-between;
}
.question-card-admin-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.question-card-admin-text1 {
  color: var(--dl-color-main-theme-text);
  font-weight: 600;
  text-transform: uppercase;
}
.question-card-admin-text2 {
  color: var(--dl-color-main-theme-text);
  font-weight: 300;
}
.question-card-admin-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-width: 0px;
  background-color: var(--dl-color-danger-700);
}
.question-card-admin-button2:hover {
  transform: scale(1.05);
}
.question-card-admin-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .question-card-admin-question-card-admin {
    width: 90%;
    min-width: auto;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
    justify-content: space-between;
  }
  .question-card-admin-container {
    width: 80%;
    max-width: 800px;
  }
}
@media(max-width: 767px) {
  .question-card-admin-question-card-admin {
    width: 90%;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .question-card-admin-raiting {
    flex-direction: row;
  }
}
@media(max-width: 479px) {
  .question-card-admin-container1 {
    flex-direction: column;
  }
}
